<div style="text-align:center; margin-top:18%">
<h1 style="text-align:center">¡Los numeros de Suerte!</h1>
<h3 style="text-align:center"><%= @number_picker %></h3>
<a href="javascript:location.reload()">Click</a>


